.text_app {
  color: #fff;
  font-size: 20px;
  margin: 0;
}
.wallet-button {
  display: flex;
  width: 100%;
  padding: 12px;
  align-items: center;
  background-color: #393F9C;
  border-radius: 12px;
  margin: 4px 0;
}
.wallet-button:hover {
  background-color: #4249AD;
}
.logo-img {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
}
.title {
  color: #fff;
  font-size: 32px;
}
